@model MusicApp.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Album Details</h2>

<div class="row">
    <img id="album-img" src="@Html.DisplayFor(model => model.AlbumPhoto)" />

 
    </div>

    <div class="col-4">
        <div class="thumbnail">
            <h4>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </h4>

            <p class="details">
                @Html.DisplayFor(model => model.ReleaseYear)
            </p>

            <h4>
                @Html.DisplayNameFor(model => model.WonAward)
            </h4>

            <p class="details">
                @Html.DisplayFor(model => model.WonAward)
            </p>



            <h4>
                @Html.DisplayNameFor(model => model.BestHit)
            </h4>

            <p class="details">
                @Html.DisplayFor(model => model.BestHit)
            </p>
        </div>
    </div>




    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID })
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
